.Person {
    width: 60%;
    margin: auto;
    border: 1px solid #eee;
    padding: 16px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
